Hello and Congratulations,<br/><br/>

You have received a response for your AD [$AD_TITLE$]
<br/><br/>
Please see the details below
<br/><br/><br/>
Name [$FULL_NAME$]
<br/><br/>
Email [$EMAIL$]
<br/><br/>
Contact Number [$PHONE$]
<br/><br/>
Comments [$COMMENTS$]
<br/><br/><br/>
Best Regards,<br/>
Apnaarea Team